/.vscode/
/practice
/homework/01-docker-terraform/ny_taxi_postgres_data
/homework/datasets
/keys
/Project_ID.txt
/homework/01-docker-terraform/terraform_gcp/.terraform/
/homework/01-docker-terraform/terraform_gcp/terraform*
/homework/01-docker-terraform/terraform_gcp/.terraform.lock.hcl
homework/01-docker-terraform/docker_sql/ny_taxi_postgres_data/
.terraform
*.gz
*.parquet
.terraform
